@font-face {
    font-family: 'DSEG7Modern-Regular';
    src: url('/fonts/DSEG_v045/DSEG7-Modern/DSEG7Modern-Regular.woff');
}

@import '@angular/material/prebuilt-themes/indigo-pink';

body {
    margin: 0;
}