<div>
    <div>
        <p>Do you know that Rdio&nbsp;Scanner works natively on {{ deviceType }} devices?</p>
    </div>
    <div>
        <ng-container *ngIf="isAndroid">
            <a href="https://play.google.com/store/apps/details?id=solutions.saubeo.rdioScanner" target="_blank">
                <google-play-badge></google-play-badge>
            </a>
        </ng-container>
        <ng-container *ngIf="isApple">
            <a href="https://apps.apple.com/us/app/rdio-scanner/id1563065667#?platform=iphone" target="_blank">
                <app-store-badge></app-store-badge>
            </a>
        </ng-container>
    </div>
</div>
<div class="countdown">{{ countdown }}</div>