@use "@angular/material" as mat;

@use "./styles/material-icons" as *;
@use "./styles/roboto-fonts" as *;

@include mat.elevation-classes();
@include mat.app-background();

$rdio-scanner-font-family: Roboto, "Helvetica Neue", sans-serif;

$rdio-scanner-primary: mat.m2-define-palette(mat.$m2-grey-palette, 800, 50);
$rdio-scanner-accent: mat.m2-define-palette(mat.$m2-green-palette);
$rdio-scanner-warn: mat.m2-define-palette(mat.$m2-red-palette);
$rdio-scanner-typography: mat.m2-define-typography-config(
	$font-family: $rdio-scanner-font-family,
);

$rdio-scanner-theme: mat.m2-define-light-theme(
	(
		color: (
			primary: $rdio-scanner-primary,
			accent: $rdio-scanner-accent,
			warn: $rdio-scanner-warn,
		),
	)
);

@include mat.all-component-themes($rdio-scanner-theme);
@include mat.all-component-typographies($rdio-scanner-typography);

body {
	font-family: $rdio-scanner-font-family;
	margin: 0;
}

body,
html {
	height: 100%;
}

html,
body {
	height: 100%;
}
