@import "~@angular/material/theming";
@import "./styles/material-icons";
@import "./styles/roboto-fonts";

$font-family: Roboto, "Helvetica Neue", sans-serif;

$custom-typography: mat-typography-config(
	$font-family: $font-family,
);

@include mat-core($custom-typography);

$primary: mat-palette($mat-grey, 800, 50);
$accent: mat-palette($mat-green);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

body {
	font-family: $font-family;
	margin: 0;
}

body,
html {
	height: 100%;
}

.material-icons {
	direction: ltr;
	display: inline-block;
	font-family: "Material Icons";
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
}

.snackbar-white {
	background: white;
	color: rgba(0, 0, 0, 0.87);
}
