<div>
    <p>
        <span class="mat-body">Import</span><br>
        <span class="mat-caption">Import a JSON file into the configuration panel where you can then review it before submitting it.</span>
    </p>
    <button mat-raised-button (click)="input.click()">Import</button>
    <input #input type="file" style="display: none" (change)="import($event)">
</div>
<div>
    <p>
        <span class="mat-body">Export</span><br>
        <span class="mat-caption">Export the configuration to a JSON file.</span>
    </p>
    <button mat-raised-button (click)="export()">Export</button>
</div>