<p class="mat-body">
    Change the administrator password which gives access to the server administration dashboard.
</p>
<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Current password</mat-label>
        <input type="password" matInput formControlName="currentPassword" required>
        <mat-error *ngIf="form.get('currentPassword')?.hasError('required')">
            Current password is required
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="newPassword" required>
        <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
            New password is required
        </mat-error>
        <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
            Password is too short
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Verify new password</mat-label>
        <input type="password" matInput formControlName="verifyNewPassword" required>
        <mat-error *ngIf="form.get('verifyNewPassword')?.hasError('required')">
            New password verification is required
        </mat-error>
        <mat-error *ngIf="form.get('verifyNewPassword')?.hasError('invalid')">
            Password don't match
        </mat-error>
    </mat-form-field>
    <div class="row bottom">
        <button type="button" mat-raised-button [disabled]="form.disabled || form.untouched"
            (click)="reset();">Reset</button>
        <button type="button" mat-raised-button color="primary"
            [disabled]="form.disabled || form.pristine || !form.valid" (click)="save()">Save</button>
    </div>
</form>