:host > form {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mat-mdc-form-field {
        margin-bottom: 1rem;
    }
}