<div class="radio-body">
    <div class="radio-button-group">
        <button (click)="close()" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="radio-button-spacer"></div>
        <button class="radio-button-mini all-off" (click)="avoid(null, null, true)">
            OFF
        </button>
        <button class="radio-button-mini all-on" (click)="avoid(null, null, false)">
            ON
        </button>
    </div>
    <fieldset *ngFor="let system of systems" class="radio-system">
        <legend>
            {{ system.name }}
        </legend>
        <div class="radio-button-group">
            <button *ngFor="let talkgroup of system.talkgroups" class="radio-button" (click)="avoid(system, talkgroup)"
                [ngClass]="{ off: avoids[system.system][talkgroup.dec], on: !avoids[system.system][talkgroup.dec] }">
                {{ talkgroup.alphaTag }}
            </button>
            <ng-container *ngIf="system.talkgroups.length > 1">
                <div class="radio-button-spacer"></div>
                <button class="radio-button-mini all-off" (click)="avoid(system, null, true)">
                    OFF
                </button>
                <button class="radio-button-mini all-on" (click)="avoid(system, null, false)">
                    ON
                </button>
            </ng-container>
        </div>
    </fieldset>
</div>