:host {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.mat-sidenav {
    width: 100%;
}

.mat-sidenav-container {
    flex: 1;
}

.mat-sidenav-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-body-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px;
}

.radio-display {
    align-self: center;
}

@media (orientation: landscape) {

    .radio-body-inner {
        max-width: 720px;
    }

    .radio-control,
    .radio-display {
        flex: 50%;
    }

    .radio-led {
        flex: 100%;
    }
}

@media (orientation: portrait) {

    .radio-body-inner {
        max-width: 480px;
    }

    .radio-control,
    .radio-display,
    .radio-led {
        flex: 100%;
    }

    .radio-display,
    .radio-led {
        margin-bottom: 48px;
    }
}