.rdio-button,
.rdio-button-mini {
  background: rgb(45, 45, 45);
  border-style: solid;
  border-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.87);
  border-left-color: rgba(255, 255, 255, 0.7);
  border-right-color: rgba(0, 0, 0, 0.87);
  border-top-color: rgba(255, 255, 255, 0.7);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 18px;
  margin: 2px;
  overflow: hidden;
  padding: 2px 8px;
  position: relative;
  text-overflow: clip;
  text-shadow: 0 0 4px rgb(0, 0, 0);
  white-space: normal;

  &:active,
  &:focus {
    outline: 0;
  }

  &:active {
    top: 2px;
    transform: scale(0.98);
    transform-origin: bottom center;
  }

  &.off::after,
  &.on::after,
  &.partial::after {
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 6px;
  }

  &.off::after {
    background: #e63232;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset,
      0 0 3px 1px rgb(230, 50, 50);
  }

  &.on::after {
    background: rgb(100, 230, 50);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset,
      0 0 3px 1px rgb(100, 230, 50);
  }

  &.partial::after {
    background: rgb(230, 165, 50);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) inset,
      0 0 3px 1px rgb(230, 165, 50);
  }
}

.rdio-button {
  color: rgb(250, 250, 250);
  font-size: 12px;
  min-width: 80px;
  text-transform: uppercase;
}
