<mat-sidenav-container>
    <mat-sidenav #searchPanel [autoFocus]="false" [disableClose]="true" mode="push" position="start">
        <app-rdio-scanner-search #searchComponent (closePanel)="searchPanel.close()"></app-rdio-scanner-search>
    </mat-sidenav>
    <mat-sidenav #selectPanel [autoFocus]="false" [disableClose]="true" mode="push" position="end">
        <app-rdio-scanner-select (closePanel)="selectPanel.close()"></app-rdio-scanner-select>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-rdio-scanner-main (openSearchPanel)="searchPanel.open(); searchComponent.searchCalls()"
            (openSelectPanel)="selectPanel.open()" (toggleFullscreen)="toggleFullscreen()">
        </app-rdio-scanner-main>
    </mat-sidenav-content>
</mat-sidenav-container>