:host {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  display: block;
  height: 100%;
  min-width: 320px;

  .mat-sidenav {
    background-color: inherit;
    color: inherit;
    width: 100%;
  }

  .mat-sidenav-container {
    background-color: inherit;
    color: inherit;
    height: inherit;
  }

  .mat-sidenav-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
