:host {
  background: #1e1e1e;
  box-sizing: border-box;
  display: block;
  min-height: 100vh;
  padding: 16px;

  > div {
    margin: 16px auto;
    max-width: 1200px;
  }

  > h1 {
    color: #ccc;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 719px) {
  :host > h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .mat-card {
    padding: 8px;
  }
}

@media (min-width: 720px) {
}