[Unit]
Description=Rdio Scanner
After=network.target

[Service]
WorkingDirectory=/home/radio/rdio-scanner
ExecStart=/usr/bin/node main.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Rdio scanner
User=radio
Group=radio
Environment=NODE_ENV=production
Environment=PWD=/home/radio/rdio-scanner
Environment=BIND_IP=localhost
Environment=PORT=3000
Environment=HTTP_FORWARDED_COUNT=1
Environment=ROOT_URL=http://radio
Environment=MONGO_URL=mongodb://localhost:27017/rdio-scanner
Environment=METEOR_SETTINGS='{"apiKeys":["b29eb8b9-9bcd-4e6e-bb4f-d244ada12736"],"pruneDays":10}'

[Install]
WantedBy=multi-user.target
