:host {
    background: #f0ffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0) inset, 1px 1px 2px 1px rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px;

    >div {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        height: 20px;

        &:nth-child(1),
        &:nth-child(6) {
            margin-bottom: 12px;
        }

        // &:nth-child(2),
        // &:nth-child(3) {
        //     >div:first-child {
        //         text-transform: uppercase;
        //     }
        // }

        &:nth-child(4) {
            font-size: 24px;
            height: 32px;
            line-height: 32px;
        }

        >div {
            align-items: flex-start;
            display: flex;
            flex: auto;
            flex-direction: row;

            &:last-child {
                justify-content: flex-end;
            }

            &:first-child {
                justify-content: flex-start;
            }

            &:not(:first-child):not(:last-child) {
                justify-content: center;
            }
        }
    }

    >table {
        border-collapse: collapse;
        font-size: 11px;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            overflow: hidden;
            padding: 0;
            text-align: start;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:nth-child(4) {
                width: 50%;
            }
        }

        th {
            color: rgba(0, 0, 0, .4);
            font-weight: 400;
            text-transform: uppercase;
        }

        tr {
            height: 21px;
        }

        tbody>tr {
            border-top: 1px dotted rgba(0, 0, 0, .4);
        }
    }

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}