:host {
    a {
        color: currentColor;
        text-decoration: none;
    }

    b {
        font-weight: 500;
    }

    .support {
        margin: 0 2rem;
    }

    .countdown {
        bottom: 4px;
        font-size: 12px;
        position: absolute;
        right: 4px;
    }
}
