.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
  }
}

@media (max-width: 719px) {
  .tags > div {
    flex: 100%;
  }
}
