<div class="row top">
  <p class="mat-body">API keys are used for recorder upload scripts and downstream instances. Each of them must
  authenticate with an API key to exchange audio files.</p>
  <button type="button" mat-button color="accent" (click)="add()">New API key</button>
</div>
@if (!apikeys.length) {
  <p class="mat-small text-center">No defined API keys</p>
}
<mat-accordion displayMode="flat" cdkDropList [cdkDropListAutoScrollStep]=64 [cdkDropListData]="apikeys" (cdkDropListDropped)="drop($event)">
  @for (apikey of apikeys; track apikey; let i = $index) {
    <mat-expansion-panel cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon cdkDragHandle>drag_indicator</mat-icon>
          {{ apikey.value.ident || 'NewApikey' }}
          @if (apikey.invalid) {
            <mat-icon color="warn">error</mat-icon>
          }
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container [formGroup]="apikey">
        <div class="row">
          <p>
            <span class="mat-body">Disabled</span><br>
            <span class="mat-caption">Disable the API key.</span>
          </p>
          <div>
            <mat-slide-toggle color="primary" formControlName="disabled"></mat-slide-toggle>
          </div>
        </div>
        <div class="row">
          <p>
            <span class="mat-body">Key</span><br>
            <span class="mat-caption">Api key.</span>
          </p>
          <mat-form-field floatLabel="auto">
            <input #key type="text" matInput formControlName="key" placeholder="Key">
            <button type="button" mat-icon-button matSuffix (click)="copy(key)">
              <mat-icon>content_copy</mat-icon>
            </button>
            @if (apikey.get('key')!.hasError('duplicate')) {
              <mat-error>
                Key is already defined
              </mat-error>
            }
            @if (apikey.get('key')!.hasError('required')) {
              <mat-error>
                Key is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <p>
            <span class="mat-body">Ident</span><br>
            <span class="mat-caption">Dummy identifier which serves only to identify this API key is for
            whom.</span>
          </p>
          <mat-form-field floatLabel="auto">
            <input type="text" matInput formControlName="ident" placeholder="Ident">
            @if (apikey.get('ident')!.hasError('required')) {
              <mat-error>
                Ident is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <p>
            <span class="mat-body">Access</span><br>
            <span class="mat-caption">
              This API key allows access to <u>
              @if (apikey.value.systems === '*') {
                all
              }
              @if (apikey.value.systems !== '*') {
                some
              }
            </u> systems and talkgroups.
          </span>
        </p>
        <div>
          <button type="button" mat-button [disabled]="apikey.disabled" (click)="select(apikey)">
            Choose systems
          </button>
        </div>
      </div>
      <div class="row bottom">
        <button type="button" mat-button color="warn" (click)="remove(i)">
          Delete API key
        </button>
      </div>
    </ng-container>
  </mat-expansion-panel>
}
</mat-accordion>