<mat-toolbar>
    <button (click)="closePanel.emit()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <ng-container *ngIf="(groups?.length || 0) < 2 && (systems?.length || 0) > 1">
        <button class="rdio-button-mini all-off" (click)="avoid({ all: false })">
            OFF
        </button>
        <button class="rdio-button-mini all-on" (click)="avoid({ all: true })">
            ON
        </button>
    </ng-container>
</mat-toolbar>
<fieldset *ngIf="(groups?.length || 0) > 1" class="fieldset">
    <div>
        <button *ngFor="let group of groups" class="rdio-button" [ngClass]="group.status"
            (click)="toggleGroup(group.label)">
            {{ group.label }}
        </button>
        <button class="rdio-button-mini all-off" (click)="avoid({ all: false })">
            OFF
        </button>
        <button class="rdio-button-mini all-on" (click)="avoid({ all: true })">
            ON
        </button>
    </div>
    <button (click)="closePanel.emit()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
</fieldset>
<fieldset *ngFor="let system of systems" class="fieldset">
    <legend>
        {{ system.label }}
    </legend>
    <div>
        <button *ngFor="let talkgroup of system.talkgroups" class="rdio-button"
            [ngClass]="{ off: !(map[system.id] && map[system.id][talkgroup.id]), on: map[system.id] && map[system.id][talkgroup.id] }"
            (click)="avoid({ system: system, talkgroup: talkgroup })">
            {{ talkgroup.label }}
        </button>
        <ng-container *ngIf="system.talkgroups.length > 1">
            <button class="rdio-button-mini all-off" (click)="avoid({ system: system, status: false })">
                OFF
            </button>
            <button class="rdio-button-mini all-on" (click)="avoid({ system: system, status: true })">
                ON
            </button>
        </ng-container>
    </div>
    <button (click)="closePanel.emit()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
</fieldset>
