:host {
  box-sizing: border-box;
  display: block;
  padding: 8px;
  user-select: none;
}

.rdio-button-mini {
  &:nth-last-child(2) {
    margin-left: auto;
  }

  &.all-off {
    background: rgb(100, 50, 50);
  }

  &.all-on {
    background: rgb(50, 100, 50);
  }
}

.fieldset {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 4px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  .legend {
    opacity: 0.8;
    padding: 0 12px;
  }

  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 720px) {
  .rdio-button {
    width: calc(20% - 8px);
  }

  .rdio-button-mini {
    width: calc(10% - 8px);
  }
}

@media (min-width: 1200px) {
  .rdio-button {
    width: calc(10% - 8px);
  }

  .rdio-button-mini {
    width: calc(5% - 8px);
  }
}
