<mat-accordion displayMode="flat">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>description</mat-icon>
                Import Talkgroups
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-import-talkgroups (config)="config.emit($event)"></rdio-scanner-admin-import-talkgroups>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>description</mat-icon>
                Import Units
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-import-units (config)="config.emit($event)"></rdio-scanner-admin-import-units>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>password</mat-icon>
                Admin password
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-password></rdio-scanner-admin-password>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>sync_alt</mat-icon>
                Import/export config
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-import-export-config (config)="config.emit($event)"></rdio-scanner-admin-import-export-config>
    </mat-expansion-panel>
</mat-accordion>